:root {
    --val-white-color: #ffffff;
    --val-black-color: #000000;
    --val-black2-color: #525151;
    --val-gray-color: #d0cdcd;
    --val-orange-color: #f4a460;
}
a {
    display: block;
    height: 100%;
}
.inner {
    width: 70%;
    margin: 0 auto;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}