:root {
    --val-white-color: #ffffff;
    --val-black-color: #000000;
    --val-black2-color: #525151;
    --val-gray-color: #d0cdcd;
    --val-orange-color: #f4a460;
    --val-orange2-color: #f3d2b6;
    --val-orange3-color: #f0e5dc;
}
a {
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    test
}
.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}