header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--val-white-color);
}
.header-contrainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 25px 28px 23px;

}
.name {
    top: 40px;
    left: 50px;
    z-index: 2;
    font-size: 20px;
    font-weight: 600;
}
.menu-toggle,
.menu-toggle::before,
.menu-toggle::after {
  display: block;
  background-color: var(--val-black-color);
  width: 30px;
  height: 3px;
  border-radius: 2px;
}
.menu-toggle {
  position: relative;
}
.menu-toggle::before {
  content: '';
  position: absolute;
  right: 0;
  top: -6px;
}
.menu-toggle::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -6px;
}
/* .menu-bg {
  width: 100%;
  height: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.9);
}
.menu-close {
  position: relative;
  margin-top: 200px;
  margin-left: 50%;
  transform: translateX(calc(-65px / 2));
}
.menu-close::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 4px;
  background: var(--val-white-color);
  transform: rotate(45deg);
  margin-left: 50%;
  position: absolute;
  top: 0;
  left: 0;
  
}
.menu-close::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 4px;
  background: var(--val-white-color);
  transform: rotate(-45deg);
  margin-bottom: 10px;
  position: absolute;
  top: 0;
}
.menu-bg-inner {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(-213.33px / 2);
  margin-top: calc(-120px / 2);
}
.menu-item {
  position: relative;
  line-height: 1.7;
}
.menu-item a{
  font-size: 50px;
  font-weight: 500;
  color: var(--val-white-color);
}
.menu-item a::after {
  content: "";
  width: 0;
  height: 22px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: var(--val-orange-color);
  z-index: -1;
}
.menu-item a:hover::after {
  width: 100%;
  transition: 0.3s ease-in-out;
} */
