.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    padding-top: 98px;    
}
.intro .intro-img {
    width: 30%;
}
.intro .intro-txt-container {
    width: calc(60% - 60px);
    padding-left: 80px;
}
.intro .intro-title {
    min-width: 400px;
    min-height: 120px;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 700;
}
.intro .mark {
    display: inline-block;
    height: 30px;
    background: var(--val-orange-color);
    line-height: 15px;
}
.intro .intro-sub {
    text-align: justify;
    line-height: 1.8;
    font-size: 20px;
    height: 288px;
}
.resume {
    width: 150px;
    margin-top: 50px;
    padding: 15px 40px;
    background: var(--val-black-color);
    border-radius: 50px;
    color: var(--val-white-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: .3s background,.3s color,.3s border,.3s opacity;
}
.resume:hover {
    outline: 2px solid var(--val-black-color);
    background: transparent;
    color: var(--val-black-color);
    animation: move 2.5s infinite;
}
@keyframes move { 
    0% { transform: rotate(0deg) } 
    20% { transform: rotate(2deg) } 
    24% { transform: rotate(-2deg) } 
    28% { transform: rotate(2deg) } 
    32% { transform: rotate(-2deg) } 
    36% { transform: rotate(0deg) } 
} 