.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
}
.profile-img {
    width: 40%;
}
.profile-txt-container {
    width: 60%;
    margin-left: 60px;
}
.header-txt {
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 700;
}
.mark {
    display: inline-block;
    height: 30px;
    background: #f4a460;
    line-height: 15px;
}
.sub-txt {
    text-align: justify;
    line-height: 1.8;
    font-size: 20px;
}