@media (max-width: 1200px) {

  /* portfolio */
  .portfolio .txt-container {
    padding: 40px 30px;
  }
  .portfolio .title {
    padding-bottom: 18px;
  }
  .portfolio .participation {
    padding-bottom: 8px;
  }
  .portfolio .tech-stack {
    display: inline-block;
    padding-bottom: 3px;
    font-size: 14px;
  }
}

/* 1091px 이하 */
@media (max-width: 1091px) {

  /* intro */
  .intro {
    height: auto;
    margin-bottom: 100px;
  }
  .intro > .inner {
    flex-direction: column;
  }
  .intro .intro-img {
    width: 60%;
    margin-bottom: 30px;
  }
  .intro .intro-title {
    font-size: 40px;
  }
  .intro .intro-txt-container {
    padding-left: 0;
    width: 100%;
  }

  /* character */
  .character .icon-list {
    width: 500px;
    height: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    margin: 0 auto;
  }

  /* skills */
  .skills .skills-list {
    width: auto;
  }

  /* portfolio */
  .portfolio .title {
    text-shadow: 0.1px 0.1px 5px var(--val-black-color);
  }
  .portfolio p {
    text-shadow: 0.1px 0.1px 5px var(--val-black-color);
  }

  /* contact */
  .contact {
    height: auto;
  }
  .contact .inner {
    width: 60%;
    padding: 30px 0 40px;
  }
  .contact .contact-container {
    flex-direction: column;
  }
  .contact .my-contact {
    margin-left: 0;
    margin-top: 80px;
  }
  .contact .my-contact::before {
    display: none;
  }
}

/* 768px 이하 */
@media (max-width: 786px) {
}

/* 786px 이하 320px 이상 */
@media (max-width: 786px) and (min-width: 320px) {

  /* common */
  .title {
    font-size: 24px !important;
    margin-bottom: 30px !important;
  }
  .inner {
    width: 90% !important;
  }

  /* header */
  .header-contrainer {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0 23px;
  }

  /* intro */
  .intro {
    margin-bottom: 50px;
  }
  .intro .intro-img {
    display: none;
  }
  .intro .intro-title {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .intro .mark {
    height: 16px;
    line-height: 4px;
  }
  .intro .intro-sub {
    font-size: 16px;
    line-height: 1.7;
  }
  .resume {
    margin-top: 15px;
    font-size: 16px;
  }

  /* character */
  .character {
    margin-bottom: 30px;
  }
  .character .icon-list {
    width: auto;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .character .icon-item {
    margin-bottom: 35px;
  }
  .character .icon-item .icon {
    margin-bottom: 8px;
  }
  .character .icon-item .icon-img {
    height: 50px;
  }
  .character .icon-item .tite-txt {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .character .icon-item .sub-txt {
    font-size: 16px;
  }

  /* work */
  .work {
    margin-bottom: 50px;
  }
  .work .work-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0;
  }
  .work .company {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .work .position, 
  .work .career, 
  .work .term {
    font-size: 16px;
  }
  .career-list,
  .position-list {
    padding-left: 0 !important;
    padding-bottom: 2.5px;
  }
  .work .term-list {
    padding-left: 0;
  }

  /* skills */
  .skills {
    margin-bottom: 50px;
  }
  .skills .skills-item {
    text-align: center;
    font-size: 12px;
  }

  /* education */
  .education {
    margin-bottom: 50px;
  }
  .education .education-list-01, 
  .education-list-02, 
  .education-list-03, 
  .education-list-04 {
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    margin-bottom: 18px;
  }
  .education .education-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .education .term-list {
    padding-left: 0;
  }
  .education .term {
    font-size: 16px;
  }
  
  /* license */
  .license {
    margin-bottom: 100px;
  }
  .license .license-list-01 {
    flex-direction: column;
    width: auto;
    align-items: flex-start;
  }
  .license .license-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .license .term-list {
    padding-left: 0;
  }
  .license .term {
    font-size: 14px;
  }

  /* portfolio */
  .portfolio-container {
    flex-direction: column;
  }
  .portfolio .portfolio-contant {
    width: 100%;
    height: 330px;
    margin-bottom: 50px;
  }
  .portfolio .portfolio-contant.even {
    margin-top: 0;
  }
  .portfolio .portfolio-contant:last-child {
    margin-bottom: 0;
  }
  .portfolio .portfolio-txt {
    /* opacity: 1;
    left: unset;
    right: 100%; */
  }
  .portfolio .even .portfolio-txt {
    /* left: 100%; */
  }
  .portfolio .portfolio-txt .title {
    font-size: 16px !important;
    padding-bottom: 0 !important;
    margin-bottom: 5px !important;
  }
  .portfolio .participation {
    padding-bottom: 3px;
  }
  .portfolio .participation p {
    font-size: 14px !important;
  }
  
  /* contact */
  .contact .gform,
  .contact .form-elements {
    width: auto;
  }
  .contact #name,
  .contact #email {
    width: 100%;
  }
  .contact #message {
    height: 150px;
  }
  .contact #name::placeholder,
  .contact #email::placeholder,
  .contact #message::placeholder {
    font-size: 14px;
  }
  .contact .name-group, 
  .contact .email-group {
    display: block;
  }

  .contact .name-group .title, 
  .contact .email-group .title, 
  .contact .message-group .title {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .contact .send-btn {
    width: 200px;
    padding: 10px 10px;
    font-size: 16px;
  }

  .contact .my-contact {
    margin-top: 40px;
  }
  .contact .email-title, 
  .contact .address-title, 
  .contact .social-title {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .contact .email-txt, 
  .contact .address-txt {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
}