.work {
    margin-bottom: 100px;
}
.work .title {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
}
.work .work-list {
    display: flex;
    align-items: center;
}
.work .company {
    font-size: 20px;
    font-weight: 600;
}
.work .career-list {
    padding-left: 15px;
}
.work .position-list {
    padding-left: 5px;
}
.work .term-list {
    padding-left: 80px;
}
.work .position,
.work .career,
.work .term {
    font-size: 18px;
    letter-spacing: 0px;
    color: var(--val-black2-color);
}